<ion-header>
  <ion-toolbar>
    <ion-title>CDs</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item icon-start
            [ngStyle]="{backgroundColor: cd.isLend ? '#ffb3b3' : ''}"
            *ngFor="let cd of cdsList; let i = index"
            (click)="onLoadCd(i)">
      <ion-icon name="disc" [ngStyle]="{padding: '5px'}"></ion-icon>
      {{ cd.album }}
      <p *ngIf="cd.isLend">Emprunté par: <strong>{{ cd.lendname }}</strong></p>
    </button>
  </ion-list>
</ion-content>
